{% extends 'base.html' %}

{%block title%} M&G products | Contact {%endblock%}

{%block area%} 

 
{%endblock%}

{% block body %}
<div class= "container">
    <ol class="breadcrumb my-4 dark" id="zs">
        <li class="breadcrumb-item "><a id="hre" href="{% url 'home' %}"> الصفحة الرئسية </a> </li>
        <li class="breadcrumb-item active"> طلب </li> 
    </ol>    
</div>   
<div class="mma">
    <h3>
        العنوان : 30 شارع شق التعبان
    </h3>
    <br>
    <h3>
        رقم الهاتف : 01212124850 
    </h3>
    <br>
    <h4>
        اطلب علي الموقع الان
    </h4>
</div>
{%endblock%}



