{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{%static 'css/base.css'%}"> 
        <title> {%block title%} {%endblock%} </title>
    </head>
    <body>
        {% block ssignin %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <h3><div class="name" > M&G products </div></h3> 
                {%if user.is_authenticated%}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.username}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-menu dropdown-menu-right" id="navbar-collapse-1">      
                            <a class="dropdown-item" href="{% url 'my_account' %}"> حسابي </a>
                            <a class="dropdown-item" href="{% url 'password_change' %}">  تغير كلمة المرور  </a> 
                            <a class="dropdown-item" href="{% url 'logout' %}"> تسجيل خروج  </a>    
                            <div class="dropdown-divider"></div> 
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'order_admin' %}"> الطلبات </a>
                                <a class="dropdown-item" href="{% url 'admin:index' %}"> لوحة التحكم </a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'about' %}"> تواصل معانا </a>     
                            {% endif %}      
                        </div>
                    </div>            
                    {%else%}
                    <div class="btn-group">
                        <a class="btn btn-outline-primary" id="btt" href="{% url 'signup'%}"> انشاء حساب </a> &nbsp;
                        <a class="btn btn-outline-secondary" id="btnn" href="{% url 'login'%}"> تسجيل دخول  </a> 
                    </div>
                    {%endif%} 
                {%endblock%}
                </div>
            </div>
        </nav>        

        {%block area%}
        <div class= "container">
            <ol class="breadcrumb my-4"> 
                {% block cont%} {%endblock%}
            </ol>    
        {%endblock%}    
{% block body %}

{%endblock%}
            </div>
        </nav>
        <script src="{%static 'js\jquery-3.5.1.min.js'%}"></script>
        <script src="{%static 'js\popper.min.js'%}"></script>
        <script src="{%static 'js\bootstrap.min.js'%}"></Script>
    </body>
</html>