{% extends 'base.html' %}

{%block title%} M&G products | home {%endblock%}

{% block ssignin %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <h3><div class="name" > M&G products </div></h3>
    </div>
</nav>         
{%endblock%}

{%block area%} 

{%endblock%}

{% block body %}
<br>
<div class="la">
<div class= "container">
    <form method="POST" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-primary btn-block" id="bot"> تسجيل دخول </button>
    </form> 
    <br>
    <div class="card-footer text-muted text-center"> انشاء حساب جديد <a id="hre" href="{% url 'signup' %}"> من هنا  </a> </div>
</div>
</div>       
{%endblock%}
